@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 2.5rem;
}

p {
    display: block;
    margin: 1rem 0;
    /* Adjust the margins as per your preference */
}

nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

footer {
    text-align: center;
}

/* npx tailwindcss -i ./styles/input.css -o ./dist/output.css --watch */

.text-stone-950 {
    color: var(--tw-text-stone-950);
}