@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables */
:root {
    --bodyFontColor:  #262626;
}

/* native declarations */
h1 {
    font-size: 4.5rem;
}

body {
    background-color:#80e5ff;
    margin: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--bodyFontColor);
}

p {
    display: block;
    margin: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

nav figure img {
    width: 20%;
    height: 75%;
}

footer {
    text-align: center;
}

.icecream-details {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.flex-container.reverse {
    flex-direction: row-reverse;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
